section{
    background-color: rgb(164, 74, 209);
    width: 400px;
    height: 200px;
    font-size:30px ;
    margin: 30px 60px 90px 120px;
    padding: 30px 60px 90px 120px;
}

#quadrado{
    width: 400px; 
    height: 400px;
    border: 3px solid purple;
    background-color: aliceblue;
    font-size: 20px;
    color: black;
}

.retangulo{
    width: 450px; 
    height: 200px;
    border: 3px solid rgb(5, 0, 16);

    font-size: 20px;
    color: black;
}

>bg-red{
    background-color: red;
}

>bg-purple{
    background-color: rgb(0, 255, 136);
}